/* Soluzione qui */
@media screen and (min-width:576px) {
  .presentation img {
    float: left;
    margin-right: 20px;
  }

  .social-networks .btn {
    padding: 10px 38px;
  }
}


@media screen and (min-width:768px) {

  main {
    padding: 34px;
  }

  #topbar {
    justify-content: flex-start;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .quick-notes ul li {
    width: calc(100% / 3 - 20px);
  }

  .social-networks .btn {
    padding: 10px 55px;
  }

  .recipe-origin {
    display: inline-block;
  }

  header h2 {
    font-size: 2em;
  }

  .presentation img {
    float: left;
    margin-right: 20px;
  }

  .ads {
    display: block;
  }
}


@media screen and (min-width:992px) {

  header h2 {
    font-size: 2.5em;
  }

  .quick-notes ul {
    display: block;
  }

  .quick-notes ul li {
    width: 100%;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-info {
    width: 30%;
  }

  .recipe-video {
    width: 70%;
    max-height: 400px;
  }

  .social-networks .label {
    display: inline;
  }

  .social-networks .btn {
    padding: 10px 47px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer address {
    text-align: left;
  }

}