/* Soluzione qui */

@media screen and (min-width:768px) {

  main {
    padding: 40px;
  }

  #topbar {
    justify-content: flex-start;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes ul li {
    margin-right: 73px;
  }
}